.nav-container {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    height: 100vh;
    background-color: #2F3C7E /*navy*/;
    color: #FBEAEB; 
    align-items: center;
    justify-content: space-between;
}

.items-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}

.exit {
    padding-bottom: 40px
}

img { 
    width: 200px;
    height: auto;
    padding-bottom: 10px;
}

.home-icon {
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
}

.statistics {
    margin-top: 30px;
    font-size: 30px;
    padding: 10px;
}

h1 {
    rotate: 270deg;
    font-size: 8rem;
    position: relative;
    top:150px;
}